{% extends 'base.html' %}

{% block content %}

<h1 class="center"> Welcome to the<br><strong>Finch Collector Network</strong></h1>
<hr />
<p class="center"><img
        src="https://lh3.googleusercontent.com/proxy/SKwGM4AnA1Af_CI8rjwCFPUov_oyBPhbu8EzzQpbJvaldP74w6r8eHWMpTU487RuPhitrRcyCsAddzZ_msqJgGzb-0q16ZDkDRhMe2UtAa2P6nzcmuFAnUtAmtxkZV0C-euM"
        alt="Finch"></p>
<p class="center">Come see what we've got in stock</p>
<div>
    <ul class="center">
        <li>View our pages</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/finches">View All Finches</a></li>
    </ul>
</div>
{% endblock %}