{% extends 'base.html' %}

{% block content %}

<h1 class="center"> Welcome to the<br><strong>Finch Collector Network</strong></h1>
<hr />
<p class="center"><img src="http://clipart-library.com/img/999731.png" alt="Finch" style="width: 10rem;"></p>
<p class="center">Come see what we've got in stock</p>
<div>
    <ul class="center">
        <li>View our pages</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/finches">View All Finches</a></li>
    </ul>
</div>
{% endblock %}