{% extends 'base.html' %}

{% load static %}
{% block content %}

<h1 class="center"> Welcome to the<br><strong>Finch Collector Network</strong></h1>
<hr />
<p class="center"><img src="{% static "images/finchImg.png" %}" alt="Finch" style="width: 10rem;"></p>
<p class="center">Come see what we've got in stock</p>
<div>
    <ul class="center">
        <li>View our pages</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/finches">View All Finches</a></li>
    </ul>
</div>
{% endblock %}